.content {
  height: 90%;
  position: relative;
  padding: 0 50px;
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @media screen and (max-width: 400px) {
    padding: 0;
  }
}

.inputContainer {
  padding: 20px 0;
  display: flex;
  justify-content: flex-end;
}

.input {
  width: 400px;
}

.cardsContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 300px;
  text-align: center;

  @media screen and (min-width: 1441px) {
    width: 500px;
    height: 200px;
    font-size: 2em;
  }
}

.pagination {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}
