.content {
  height: 90%;
  position: relative;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @media screen and (max-width: 500px) {
    padding: 0;
  }
}
