.link{
  display: inline-block;
  height: 30px;
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  text-align: left;
  transition: all 0.5s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.link:hover{
  transform: translateX(10px);
  color: blue;
  text-overflow: clip;
}

.teamLink{
  font-size: 16px;
}